<%= render partial: "projects/header", locals: {project: @project, subtitle: "Tickets for"} %>

<ul id="houston_scheduler_tabs" class="nav nav-pills">
  <li class="active"><a href="#sequence">Priority <span class="badge tickets-without-sequence zero"></span></a></li>
  <% if Houston::Scheduler.config.use_estimate_effort? && can?(:estimate, @project) %>
    <li><a href="#estimate-effort">Estimate Effort <span class="badge tickets-without-effort-count zero"></span></a></li>
  <% end %>
  <% if Houston::Scheduler.config.use_estimate_value? && can?(:prioritize, @project) %>
    <li><a href="#estimate-value">Estimate Value <span class="badge features-without-value-count zero"></span></a></li>
  <% end %>
  <% if can?(:prioritize, @project) %>
    <li><a href="#estimate-severity">Estimate Severity <span class="badge bugs-without-severity-count zero"></span></a></li>
  <% end %>
  <% if Houston::Scheduler.config.use_planning_poker? && can?(:estimate, @project) %>
    <li><a href="#planning-poker">Planning Poker <span class="badge tickets-without-my-effort-estimate-count zero"></span></a></li>
  <% end %>
  <li><a href="#unable-to-estimate">Discussion Needed <span class="badge tickets-discussion-needed-count zero"></span></a></li>
  <li><a href="#postponed">Postponed <span class="badge tickets-postponed-count zero"></span></a></li>
  <li><a href="#vision">Vision</a></li>
  
  <li id="sequence_settings"></li>
</ul>

<div id="houston_scheduler_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var tickets = <%=raw Houston::Scheduler::TicketPresenter.new(@tickets).to_json %>;
    
    var maintainers = <%=raw MultiJson.dump(@maintainers.map { |m| {
      "id" => m.id,
      "email" => m.email,
      "name" => m.name
    } }) %>;
    
    Scheduler.tickets = new Scheduler.Tickets(tickets, {parse: true});
    
    <% if current_user.view_options.fetch("scheduler.showEffort", "true") == "true" %>
    $('#houston_scheduler_view').addClass('with-effort');
    <% end %>
    
    Scheduler.view = new Scheduler.ProjectView({
      project: {
        id: <%= @project.id %>,
        slug: <%=raw @project.slug.to_json %>,
        name: <%=raw @project.name.to_json %>,
        ticketTrackerName: <%=raw @project.ticket_tracker_name.to_json %>,
        valueStatements: <%= raw @project.value_statements.to_json %> },
      tickets: Scheduler.tickets,
      maintainers: maintainers,
      velocity: <%= @velocity %>,
      canEstimate: <%= can?(:estimate, @project) %>,
      canPrioritize: <%= can?(:prioritize, @project) %>,
      el: $('#houston_scheduler_view')
    });
    
    $(document).bind('ticket:create', function(e, ticket) {
      Scheduler.tickets.add(ticket);
    });
  });
</script>
<% end %>
