<%= render partial: "projects/header", locals: {project: @project, subtitle: "Tickets for"} %>

<ul id="houston_scheduler_tabs" class="nav nav-pills">
  <li class="active"><a href="#sequence">Priority <span class="badge tickets-without-sequence zero"></span></a></li>
  <% if can?(:estimate, @project) %>
    <li><a href="#estimate-effort">Estimate Effort <span class="badge tickets-without-effort-count zero"></span></a></li>
  <% end %>
  <% if can?(:estimate, @project) %>
    <li><a href="#planning-poker">Planning Poker <span class="badge tickets-without-my-effort-estimate-count zero"></span></a></li>
  <% end %>
  <% if can?(:read, @project.sprints.build) %>
    <li><a href="#sprint">Sprint</span> <span class="badge tickets-in-sprint-count zero"></span></a></li>
  <% end %>
  <li><a href="#milestones">Milestones</a></li>
  <li><a href="#unable-to-estimate">Discussion Needed <span class="badge tickets-discussion-needed-count zero"></span></a></li>
  
  <li id="sequence_settings"></li>
</ul>

<div id="houston_scheduler_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var tickets = <%=raw MultiJson.dump(@tickets.map { |t| {
      "id" => t.id,
      "number" => t.number,
      "ticketUrl" => t.ticket_tracker_ticket_url,
      "ticketSystem" => t.project.ticket_tracker_name,
      "type" => t.type.to_s.downcase.dasherize,
      "tags" => t.tags.map(&:to_h),
      "sequence" => t.extended_attributes["sequence"],
      "estimatedEffort" => t.extended_attributes["estimated_effort"],
      "unableToSetEstimatedEffort" => t.extended_attributes["unable_to_set_estimated_effort"],
      "unableToSetPriority" => t.extended_attributes["unable_to_set_priority"],
      "summary" => t.summary,
      "description" => t.description,
      "milestoneId" => t.milestone_id,
      "sprintId" => t.sprint_id,
      "resolved" => t.resolved?,
      "prerequisites" => t.ticket_prerequisite_ids
    }.merge(t.extended_attributes.keys.grep(/estimated_effort\[\d+\]/).each_with_object({}) { |key, attrs| 
      attrs[key.gsub(/estimated_effort/, "estimatedEffort")] = t.extended_attributes[key]
    }) }) %>;
    
    var milestones = <%=raw MultiJson.dump(@milestones.map { |m| {
      "id" => m.id,
      "name" => m.name
    } }) %>;
    
    var maintainers = <%=raw MultiJson.dump(@maintainers.map { |m| {
      "id" => m.id,
      "email" => m.email,
      "name" => m.name
    } }) %>;
    
    Scheduler.tickets = new Scheduler.Tickets(tickets);
    Scheduler.milestones = new Scheduler.Milestones(milestones);
    
    window.options = window.options || {};
    window.options.showEffort = <%= current_user.view_options.fetch("scheduler.showEffort", "true") == "true" %>;
    
    new Scheduler.ProjectView({
      project: {
        id: <%= @project.id %>,
        slug: <%=raw @project.slug.to_json %>,
        name: <%=raw @project.name.to_json %>,
        ticketTrackerName: <%=raw @project.ticket_tracker_name.to_json %> },
      tickets: Scheduler.tickets,
      milestones: Scheduler.milestones,
      maintainers: maintainers,
      sprintId: <%= @sprint_id.to_json %>,
      velocity: <%= @velocity %>,
      canEstimate: <%= can?(:estimate, @project) %>,
      canPrioritize: <%= can?(:prioritize, @project) %>,
      el: $('#houston_scheduler_view')
    });
  });
</script>
<% end %>
