<div class="task-color">
  <div class="task-color-bubble" style="background-color: {{projectColor project}}" rel="tooltip" data-placement="right" title="{{project}}"></div>
</div>
<div class="task-description">
  <input type="text" value="{{description}}" name="description" class="task-description" />
</div>
<div class="task-effort">
  <input type="number" value="{{effort}}" name="effort" class="task-effort" />
</div>
<div class="task-value">
  <input type="number" value="{{value}}" name="value" class="task-value" />
</div>
<div class="task-priority">
  <span class="output"></span>
</div>
