<div id="project_{{id}}" class="mixer-active-project {{color}}">
  <h4 class="mixer-project-name">
    {{name}}
    <a href="#" unselectable="true" class="remove-from-active-projects" data-id="{{id}}">&#xf068;</a>
  </h4>
  <div class="mixer-throttle"></div>
  <h4 class="mixer-throttle-percentage">{{throttle}}</h4>
</div>
