<div id="graph" class="burndown-chart"></div>

<p>
  <a class="btn" id="show_completed_tickets" data-toggle="button">Show Completed Tickets</a>
</p>

{{#if tickets}}
<table class="table table-sortable table-milestone-tickets">
  <thead>
    <tr>
      <th class="ticket-sequence sort-desc"><i class="icon icon-reorder"></i></th>
      <th class="ticket-effort">Effort</th>
      <th class="ticket-summary">Summary</th>
      <td></td>
    </tr>
  </thead>
  <tbody id="tickets">
    {{#tickets}}
      <tr class="ticket {{#firstReleaseAt}}ticket-released{{/firstReleaseAt}} {{#resolved}}ticket-resolved{{/resolved}} {{#closedAt}}ticket-closed{{/closedAt}}" data-ticket-id="{{id}}">
        <td class="ticket-sequence">
          {{sequence}}
        </td>
        <td class="ticket-effort">
          {{estimatedEffort}}
          {{#firstReleaseAt}}
            <i class="icon-ok-sign" rel="tooltip" title="Released {{formatDate this}}"></i>
          {{/firstReleaseAt}}
        </td>
        <td class="ticket-summary">
          {{summary}}
          <a href="{{ticketUrl}}" target="_blank" rel="tooltip" data-tooltip-placement="right" data-original-title="View in {{ticketSystem}}">[#{{number}}]</a>
          {{#tags}}
            <span class="ticket-tag" style="background-color: #{{color}}">{{name}}</span>
          {{/tags}}
          <a href="/tickets/{{id}}.json" class="ticket-details" tabindex="-1">more</a>
        </td>
        <td class="ticket-command">
          <button tabindex="-1" class="btn btn-remove">Remove</button>
        </td>
      </tr>
    {{/tickets}}
  </tbody>
</table>
{{else}}
<div class="alert alert-info">There are no tickets in this milestone.</div>
{{/if}}
