<h4>Assess Severity</h4>

<table class="assess-severity">
  <tr>
    <td class="aspect"><label for="ticket_seriousness">Seriousness</label></td>
    <td class="slider"><input name="seriousness" type="text" rel="slider" value="{{seriousness}}" /></td>
    <td class="input"><input id="ticket_seriousness" name="seriousness" type="number" value="{{seriousness}}" min="1" max="10" step="1" size="2" class="mousetrap" /></td>
  </tr>
  <tr>
    <td class="aspect"><label for="ticket_likelihood">Likelihood</label></td>
    <td class="slider"><input name="likelihood" type="text" rel="slider" value="{{likelihood}}" /></td>
    <td class="input"><input id="ticket_likelihood" name="likelihood" type="number" value="{{likelihood}}" min="1" max="10" step="1" size="2" class="mousetrap" /></td>
  </tr>
  <tr>
    <td class="aspect"><label for="ticket_clumsiness">Clumsiness</label></dt>
    <td class="slider"><input name="clumsiness" type="text" rel="slider" value="{{clumsiness}}" /></td>
    <td class="input"><input id="ticket_clumsiness" name="clumsiness" type="number" value="{{clumsiness}}" min="1" max="10" step="1" size="2" class="mousetrap" /></td>
  </tr>
</table>
