<button tabindex="-1" class="btn btn-unable-to-estimate">Can't Estimate</button>

<h4>Tasks and Effort</h4>

<table class="tasks">
  {{#tasks}}
    <tr class="ticket-task" id="task_{{id}}" data-id="{{id}}">
      <td class="task-letter">
        {{letter}}.
      </td>
      <td class="task-effort">
        <input type="number" step="any" min="0.1" value="{{effort}}" name="effort" class="task-effort mousetrap" />
      </td>
      <td class="task-description">
        {{description}}
      </td>
    </tr>
  {{/tasks}}
</table>
