<div class="nomargin">
  <table class="table table-sortable table-striped">
    <thead>
      <tr>
        <td class="table-margin"></td>
        <th class="ticket-effort sort-desc">Effort <small>(Points)</small></th>
        <th class="ticket-summary">Ticket</th>
        {{#maintainers}}
          <th class="ticket-participants vertical maintainer" data-maintainer-id="{{id}}"><span class="participant-name">{{name}}</span></th>
        {{/maintainers}}
        <td class="table-margin"></td>
      </tr>
    </thead>
    
    <tbody id="tickets">
      {{#tickets}}
        <tr id="ticket_{{id}}" class="ticket {{#complete}}complete{{/complete}}" data-ticket-id="{{id}}">
          <td class="table-margin"></td>
          <td class="ticket-effort">
            <div class="dropdown">
              {{#if myEstimate}}
                <span class="estimates">{{estimates}}</span>
                <a class="dropdown-toggle estimate" data-toggle="dropdown">{{myEstimate}}</a>
              {{else}}
                <a class="dropdown-toggle estimate no-estimate" data-toggle="dropdown">No estimate</a>
              {{/if}}
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel"><li><a role="menuitem" tabindex="-1">No Estimate</a></li><li><a role="menuitem" tabindex="-1">1</a></li><li><a role="menuitem" tabindex="-1">2</a></li><li><a role="menuitem" tabindex="-1">3</a></li><li><a role="menuitem" tabindex="-1">5</a></li><li><a role="menuitem" tabindex="-1">8</a></li><li><a role="menuitem" tabindex="-1">13</a></li><li><a role="menuitem" tabindex="-1">21</a></li><li><a role="menuitem" tabindex="-1">34</a></li><li><a role="menuitem" tabindex="-1">55</a></li><li><a role="menuitem" tabindex="-1">89</a></li><li><a role="menuitem" tabindex="-1">Unestimatable Ticket</a></li><li><a role="menuitem" tabindex="-1">Pass</a></li></ul>
            </div>
          </td>
          <td class="ticket-summary">{{summary}}
            {{{formatPrerequisites prerequisites}}}
            <a href="{{ticketUrl}}" target="_blank" rel="tooltip" data-tooltip-placement="right" data-original-title="View in {{ticketSystem}}">[#{{number}}]</a>
            {{#tags}}
              <span class="ticket-tag" style="background-color: #{{color}}">{{name}}</span>
            {{/tags}}
            <a href="/tickets/{{id}}.json" class="ticket-details" tabindex="-1">more</a>
          </td>
          {{#each ../maintainers}}
            <td class="ticket-participants">
              <span class="hidden-text">{{ticketEstimateBy .. id}}</span>
              <span class="ticket-participant-estimate" data-estimate="{{ticketEstimateBy .. id}}" data-maintainer-id="{{id}}">
                {{{avatar email 24 name}}}
              </span>
            </td>
          {{/each}}
          <td class="table-margin"></td>
        </tr>
      {{/tickets}}
    <tbody>
  </table>
</div>
