<div class="sequence-ticket-front">
  <div class="sequence-ticket-mask">
    <i class="ticket-type ticket-type-{{type}}"></i>
    <div class="sequence-ticket-summary">
      <div>
        {{summary}}
        {{#tags}}
          <span class="ticket-tag" style="background-color: #{{color}}">{{name}}</span>
        {{/tags}}
        {{#if milestoneName}}
          <span class="ticket-tag" style="background-color: #ccc; color: #333">{{milestoneName}}</span>
        {{/if}}
      </div>
      <a class="sequence-ticket-number" href="{{ticketUrl}}" target="_blank" rel="ticket" data-number="{{number}}">#{{number}}</a>
    </div>
  </div>
  {{#if resolved}}
    <i class="sequence-ticket-icon icon-check-sign" data-toggle="tooltip" title="Resolved" />
  {{else}}{{#if unableToSetEstimatedEffort}}
    <i class="sequence-ticket-icon icon-warning-sign" data-toggle="tooltip" title="Discussion Needed" />
  {{else}}{{#if estimatedEffort}}
  {{else}}
    <i class="sequence-ticket-icon icon-question-sign" data-toggle="tooltip" title="Hasn't been Estimated" />
  {{/if}}{{/if}}{{/if}}
</div>
