<div class="ticket-description">{{summary}}
  {{{formatPrerequisites prerequisites}}}
  <a href="{{ticketUrl}}" target="_blank" rel="tooltip" data-tooltip-placement="right" data-original-title="View in {{ticketSystem}}">[#{{number}}]</a>
</div>
<div class="ticket-effort">{{estimated_effort}}</div>
<div class="ticket-value">{{estimated_value}}</div>
